<span class='component-title'>[{{title}}]</span>
<p *ngIf='!lineitem'>Loading...</p>
<div *ngIf='lineitem'>
  <main class="single">
    <table class="table table-sm">
      <tr>
        <td>
          Product:
        </td>
        <td *ngIf='lineitem.product'>
          <select [(ngModel)]="lineitem.product" class="rounded" [compareWith]="compProduct">
            <option *ngFor='let product of products' [ngValue]='product'>
              {{ product.name}}
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          Quantity:
        </td>
        <td>
            <input type="number" id="quantity" name="quantity" min="1" max="10" class = "rounded">
        </td>
      </tr>
      <tr>
      </tr>
    </table>
  </main>
  <span><button (click)="save()" class="btn btn-sm btn-primary">Save</button></span>
</div>